.navbar{
    background-color: skyblue;
    text-align: center;
    color: white;
    padding: 20px;
    
}

.navbar-links{
    display: flex;
    justify-content: center;
}

.link{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}